[defaults]
inventory = ./inventory
roles_path = ./roles
collections_paths = "path to your collections"
interpreter_python = "/usr/bin/python3" 
remote_user = "Service ou user account name to use"
private_key_file = "Path to ssh private key linked to remote_user"
forks = 3
gathering = smart
fact_caching = jsonfile
fact_caching_connection = ./facts/fact_cache
fact_caching_timeout = 86400
log_path = ./log/event.txt
log_verbosity = 2

[privilege_escalation]
become_user = root
become_method = sudo

[ssh_connection]
host_key_checking = True
command_timeout = 30
retries = 3
pipelining = True
scp_if_ssh = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
