[defaults]
inventory = ./inventory
roles_path = ./roles
interpreter_python = "/usr/bin/python3" 
remote_user = "name to Use"
private_key_file = "path to ssh private key"
forks = 3
host_key_checking = False
log_path = ./log.txt
log_verbosity = 2

[privilege_escalation]
become_user = root
become_method = sudo

[ssh_connection]
command_timeout = 10
retries = 3
pipelining = True
